<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js ToDoList学習</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app" v-cloak>
    <h1>ToDo List</h1>
    <p v-text="setDate"></p>
    <!-- <p>全 {{things.length}} 件 / 現在 {{ remaining }} 件終わりました</p> -->
    <table>
      <thead>
        <tr>
          <th class="id">ID</th>
          <th class="title">タイトル</th>
          <th class="state">状況</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="thing in things" v-bind:key="thing.id">
          <th>{{ thing.id }}</th>
          <td>{{ thing.title }}</td>
          <td class="state">
            <button @click="changeState(thing)">{{ labels[thing.state] }}</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <ul>
      <li v-show="things.length <= 0">現在やることはありません</li>
      <li v-for="thing in things" :key="thing.id">
        <label :class="{ done: thing.isChecked }">
          <input type="checkbox" v-model="thing.isChecked" v-on:change="saveList">
          {{ thing.id }}
          {{ thing.title }}
        </label>
      </li>  
    </ul> -->
    <form @submit.prevent="add">
      <input type="text" v-model.trim="newthings" placeholder="ToDoを入力して下さい">
      <button type="submit">追加</button>
    </form>
      <button v-on:click="deleteTodo">削除</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="main.js"></script>
</body>